In [85]:
import pandas as pd
import pandas_ta as ta
df = pd.read_csv("BTCUSD_Candlestick_15_M_ASK_01.01.2020-01.01.2023.csv")
df["Local time"] = df["Local time"].str.replace(".000", "")
# Remove ' GMT+0100' and ' GMT+0200'
df['Local time'] = df['Local time'].str.replace(' GMT\+0100', '', regex=True)
df['Local time'] = df['Local time'].str.replace(' GMT\+0200', '', regex=True)
df['Local time'] = pd.to_datetime(df['Local time'], format='%d.%m.%Y %H:%M:%S')
df = df[df.High!=df.Low]
df.set_index("Local time", inplace = True)
df.reset_index(inplace=True)
df

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4568\2051885210.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Local time"] = df["Local time"].str.replace(".000", "")

               Local time   Open   High    Low  Close  Volume
0     2020-01-01 22:00:00   7273   7280   7270   7271  0.0085
1     2020-01-01 22:15:00   7271   7273   7267   7267  0.0107
2     2020-01-01 22:30:00   7267   7272   7264   7269  0.0104
3     2020-01-01 22:45:00   7269   7274   7269   7273  0.0146
4     2020-01-01 23:00:00   7272   7272   7249   7260  6.0632
...                   ...    ...    ...    ...    ...     ...
97962 2023-01-01 22:45:00  16641  16647  16638  16645  0.0014
97963 2023-01-01 23:00:00  16645  16670  16645  16657  0.0008
97964 2023-01-01 23:15:00  16657  16658  16648  16653  0.0002
97965 2023-01-01 23:30:00  16653  16656  16633  16637  0.0004
97966 2023-01-01 23:45:00  16637  16643  16635  16641  0.0012

[97967 rows x 6 columns]

In [86]:
supertrend = ta.supertrend(df['High'], df['Low'], df['Close'], length=12, multiplier=3.0)
df['DEMA'] = ta.dema(df['Close'], length = 200)
# Assign the SuperTrend indicator and direction to the DataFrame
df['SUPERT_12_3.0'] = supertrend['SUPERT_12_3.0']
df['SUPERTd_12_3.0'] = supertrend['SUPERTd_12_3.0']
df['ATR'] = ta.atr(df.High, df.Low, df.Close, length = 7)
df

,Local time,Open,High,Low,Close,Volume,DEMA,SUPERT_12_3.0,SUPERTd_12_3.0,ATR
0,2020-01-01 22:00:00,7273,7280,7270,7271,0.0085,NaN,0.000000,1,NaN
1,2020-01-01 22:15:00,7271,7273,7267,7267,0.0107,NaN,NaN,1,NaN
2,2020-01-01 22:30:00,7267,7272,7264,7269,0.0104,NaN,NaN,1,NaN
3,2020-01-01 22:45:00,7269,7274,7269,7273,0.0146,NaN,NaN,1,NaN
4,2020-01-01 23:00:00,7272,7272,7249,7260,6.0632,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...
97962,2023-01-01 22:45:00,16641,16647,16638,16645,0.0014,16612.962237,16626.205774,1,13.896724
97963,2023-01-01 23:00:00,16645,16670,16645,16657,0.0008,16613.723031,16626.205774,1,15.482906
97964,2023-01-01 23:15:00,16657,16658,16648,16653,0.0002,16614.393840,16626.205774,1,14.699634
97965,2023-01-01 23:30:00,16653,16656,16633,16637,0.0004,16614.738364,16626.205774,1,15.885400
97966,2023-01-01 23:45:00,16637,16643,16635,16641,0.0012,16615.157476,16626.205774,1,14.758915

In [87]:
def dema_signal(df, current_candle, backcandles):
    buy = 0
    sell = 0
    if (current_candle - backcandles)<=0:
        
        return 0
    else:
        for row in range(current_candle - backcandles, current_candle+1):

            if (df.Close[row]<df['DEMA'][row]):
                sell+=1

            elif (df.Close[row]>df['DEMA'][row]):
                buy+=1

            else:
                continue

        if (buy==backcandles+1):
            return 2

        elif (sell==backcandles+1):
            return 1

        else:
            return 0 
"""
count1 = 0
count2 = 0
for row in range(len(df)):
    if (dema_signal(df, row, 6)==2):
        count1+=1
    elif (dema_signal(df, row, 6)==1):
        count2+=1

print(count1, count2, df.Close[310083], df.DEMA[310082])
df
"""

'\ncount1 = 0\ncount2 = 0\nfor row in range(len(df)):\n    if (dema_signal(df, row, 6)==2):\n        count1+=1\n    elif (dema_signal(df, row, 6)==1):\n        count2+=1\n\nprint(count1, count2, df.Close[310083], df.DEMA[310082])\ndf\n'

In [88]:
df[df['SUPERTd_12_3.0']==-1].count()

Local time        48175
Open              48175
High              48175
Low               48175
Close             48175
Volume            48175
DEMA              48085
SUPERT_12_3.0     48175
SUPERTd_12_3.0    48175
ATR               48175
dtype: int64

In [89]:
def total_signal(df, current_candle, backcandles):
    
    if dema_signal(df, current_candle, backcandles)==2 and df['SUPERTd_12_3.0'][current_candle]==1 and df['SUPERTd_12_3.0'][current_candle-1]==-1:
        
        return 2
    
    elif dema_signal(df, current_candle, backcandles)==1 and df['SUPERTd_12_3.0'][current_candle]==-1 and df['SUPERTd_12_3.0'][current_candle-1]==1:
        
        return 1
    
    else:
        
        return 0

from tqdm import tqdm
tqdm.pandas()
df['total_signal'] = df.progress_apply(lambda row: total_signal(df, row.name, 8) , axis=1) 
df

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 97967/97967 [00:35<00:00, 2729.44it/s]

,Local time,Open,High,Low,Close,Volume,DEMA,SUPERT_12_3.0,SUPERTd_12_3.0,ATR,total_signal
0,2020-01-01 22:00:00,7273,7280,7270,7271,0.0085,NaN,0.000000,1,NaN,0
1,2020-01-01 22:15:00,7271,7273,7267,7267,0.0107,NaN,NaN,1,NaN,0
2,2020-01-01 22:30:00,7267,7272,7264,7269,0.0104,NaN,NaN,1,NaN,0
3,2020-01-01 22:45:00,7269,7274,7269,7273,0.0146,NaN,NaN,1,NaN,0
4,2020-01-01 23:00:00,7272,7272,7249,7260,6.0632,NaN,NaN,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
97962,2023-01-01 22:45:00,16641,16647,16638,16645,0.0014,16612.962237,16626.205774,1,13.896724,0
97963,2023-01-01 23:00:00,16645,16670,16645,16657,0.0008,16613.723031,16626.205774,1,15.482906,0
97964,2023-01-01 23:15:00,16657,16658,16648,16653,0.0002,16614.393840,16626.205774,1,14.699634,0
97965,2023-01-01 23:30:00,16653,16656,16633,16637,0.0004,16614.738364,16626.205774,1,15.885400,0
97966,2023-01-01 23:45:00,16637,16643,16635,16641,0.0012,16615.157476,16626.205774,1,14.758915,0

In [91]:
df[df['total_signal']!=0].count()

Local time        496
Open              496
High              496
Low               496
Close             496
Volume            496
DEMA              496
SUPERT_12_3.0     496
SUPERTd_12_3.0    496
ATR               496
total_signal      496
dtype: int64

In [92]:
def SIGNAL():
    return df.total_signal

In [97]:
from backtesting import Strategy
from backtesting import Backtest

class MyStrat(Strategy):
    slcoef = 1.1  # SL multiplier based on ATR
    TPSLRatio = 1.3  # Unused for dynamic TP but kept for SL calculation

    def init(self):
        super().init()
        # Track the SuperTrend direction for detecting changes
        self.supertrend_direction = self.I(lambda x: x, self.data['SUPERTd_12_3.0'])
        
    def next(self):
        if not self.position:
            current_direction = self.supertrend_direction[-1]
            # Entry logic with constant SL
            if self.data['total_signal'][-1] == 2:
                sl_price = self.data['SUPERT_12_3.0'][-1]
                self.buy(sl=sl_price)
            elif self.data['total_signal'][-1] == 1:
                sl_price = self.data['SUPERT_12_3.0'][-1]
                self.sell(sl=sl_price)

        # Check for SuperTrend direction change to close the position
        else:
            current_direction = self.supertrend_direction[-1]
            previous_direction = self.supertrend_direction[-2] if len(self.supertrend_direction) > 1 else 0

            if self.position.is_long and current_direction < previous_direction:
                self.position.close()  # Close long position if SuperTrend direction changes negatively
            elif self.position.is_short and current_direction > previous_direction:
                self.position.close()  # Close short position if SuperTrend direction changes positively


bt = Backtest(df, MyStrat, cash = 100000)

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4568\1179280857.py:35: UserWarning: Data index is not datetime. Assuming simple periods, but `pd.DateTimeIndex` is advised.
  bt = Backtest(df, MyStrat, cash = 100000)

In [98]:
bt.run()

Start                                     0.0
End                                   97966.0
Duration                              97966.0
Exposure Time [%]                   19.447365
Equity Final [$]                 96676.729137
Equity Peak [$]                 127975.430139
Return [%]                          -3.323271
Buy & Hold Return [%]              128.868106
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -37.367557
Avg. Drawdown [%]                     -5.7641
Max. Drawdown Duration                68765.0
Avg. Drawdown Duration            5134.578947
# Trades                                488.0
Win Rate [%]                        32.786885
Best Trade [%]                       11.43577
Worst Trade [%]                     -4.563883
Avg. Trade [%]                      -0.034581
Max. Trade Duration                     235.0
Avg. Trade Duration                 38.040984
Profit Factor                        0.981552
Expectancy [%]                      -0.013285
SQN                                 -0.087342
_strategy                             MyStrat
_equity_curve                           Eq...
_trades                        Size  Entry...
dtype: object