In [13]:
import pandas as pd
import pandas_ta as ta
df = pd.read_csv("BTCUSD_Candlestick_5_M_ASK_01.01.2021-01.01.2024.csv")
df["Local time"] = df["Local time"].str.replace(".000", "")
# Remove ' GMT+0100' and ' GMT+0200'
df['Local time'] = df['Local time'].str.replace(' GMT\+0100', '', regex=True)
df['Local time'] = df['Local time'].str.replace(' GMT\+0200', '', regex=True)
df['Local time'] = pd.to_datetime(df['Local time'], format='%d.%m.%Y %H:%M:%S')
df = df[df.High!=df.Low]
df.set_index("Local time", inplace = True)
df.reset_index(inplace=True)
df

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_18020\3498689777.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Local time"] = df["Local time"].str.replace(".000", "")

                Local time   Open   High    Low  Close  Volume
0      2021-01-01 23:00:00  29275  29292  29227  29292  0.0077
1      2021-01-01 23:05:00  29292  29301  29285  29295  0.0040
2      2021-01-01 23:10:00  29295  29343  29295  29343  0.0025
3      2021-01-01 23:15:00  29344  29376  29344  29370  0.0033
4      2021-01-01 23:20:00  29370  29397  29346  29389  0.0027
...                    ...    ...    ...    ...    ...     ...
310079 2024-01-01 23:35:00  43540  43573  43537  43573  0.0000
310080 2024-01-01 23:40:00  43572  43572  43499  43499  0.0002
310081 2024-01-01 23:45:00  43499  43544  43499  43510  0.0001
310082 2024-01-01 23:50:00  43510  43510  43501  43505  0.0000
310083 2024-01-01 23:55:00  43505  43572  43505  43563  0.0001

[310084 rows x 6 columns]

In [14]:
supertrend = ta.supertrend(df['High'], df['Low'], df['Close'], length=12, multiplier=3.0)
df['DEMA'] = ta.dema(df['Close'], length = 200)
# Assign the SuperTrend indicator and direction to the DataFrame
df['SUPERT_12_3.0'] = supertrend['SUPERT_12_3.0']
df['SUPERTd_12_3.0'] = supertrend['SUPERTd_12_3.0']
df['ATR'] = ta.atr(df.High, df.Low, df.Close, length = 7)
df

,Local time,Open,High,Low,Close,Volume,DEMA,SUPERT_12_3.0,SUPERTd_12_3.0,ATR
0,2021-01-01 23:00:00,29275,29292,29227,29292,0.0077,NaN,0.000000,1,NaN
1,2021-01-01 23:05:00,29292,29301,29285,29295,0.0040,NaN,NaN,1,NaN
2,2021-01-01 23:10:00,29295,29343,29295,29343,0.0025,NaN,NaN,1,NaN
3,2021-01-01 23:15:00,29344,29376,29344,29370,0.0033,NaN,NaN,1,NaN
4,2021-01-01 23:20:00,29370,29397,29346,29389,0.0027,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...
310079,2024-01-01 23:35:00,43540,43573,43537,43573,0.0000,42801.223877,43369.237076,1,105.671527
310080,2024-01-01 23:40:00,43572,43572,43499,43499,0.0002,42817.318446,43369.237076,1,101.147023
310081,2024-01-01 23:45:00,43499,43544,43499,43510,0.0001,42833.379627,43369.237076,1,93.126020
310082,2024-01-01 23:50:00,43510,43510,43501,43505,0.0000,42849.090755,43369.237076,1,81.108017
310083,2024-01-01 23:55:00,43505,43572,43505,43563,0.0001,42865.704207,43369.237076,1,79.092586

In [15]:
def dema_signal(df, current_candle, backcandles):
    buy = 0
    sell = 0
    if (current_candle - backcandles)<=0:
        
        return 0
    else:
        for row in range(current_candle - backcandles, current_candle+1):

            if (df.Close[row]<df['DEMA'][row]):
                sell+=1

            elif (df.Close[row]>df['DEMA'][row]):
                buy+=1

            else:
                continue

        if (buy==backcandles+1):
            return 2

        elif (sell==backcandles+1):
            return 1

        else:
            return 0 
"""
count1 = 0
count2 = 0
for row in range(len(df)):
    if (dema_signal(df, row, 6)==2):
        count1+=1
    elif (dema_signal(df, row, 6)==1):
        count2+=1

print(count1, count2, df.Close[310083], df.DEMA[310082])
df
"""

'\ncount1 = 0\ncount2 = 0\nfor row in range(len(df)):\n    if (dema_signal(df, row, 6)==2):\n        count1+=1\n    elif (dema_signal(df, row, 6)==1):\n        count2+=1\n\nprint(count1, count2, df.Close[310083], df.DEMA[310082])\ndf\n'

In [16]:
df[df['SUPERTd_12_3.0']==-1].count()

Local time        154682
Open              154682
High              154682
Low               154682
Close             154682
Volume            154682
DEMA              154639
SUPERT_12_3.0     154682
SUPERTd_12_3.0    154682
ATR               154682
dtype: int64

In [17]:
def total_signal(df, current_candle, backcandles):
    
    if dema_signal(df, current_candle, backcandles)==2 and df['SUPERTd_12_3.0'][current_candle]==1 and df['SUPERTd_12_3.0'][current_candle-1]==-1:
        
        return 2
    
    elif dema_signal(df, current_candle, backcandles)==1 and df['SUPERTd_12_3.0'][current_candle]==-1 and df['SUPERTd_12_3.0'][current_candle-1]==1:
        
        return 1
    
    else:
        
        return 0

from tqdm import tqdm
tqdm.pandas()
df['total_signal'] = df.progress_apply(lambda row: total_signal(df, row.name, 8) , axis=1) 
df

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 310084/310084 [01:55<00:00, 2690.76it/s]

,Local time,Open,High,Low,Close,Volume,DEMA,SUPERT_12_3.0,SUPERTd_12_3.0,ATR,total_signal
0,2021-01-01 23:00:00,29275,29292,29227,29292,0.0077,NaN,0.000000,1,NaN,0
1,2021-01-01 23:05:00,29292,29301,29285,29295,0.0040,NaN,NaN,1,NaN,0
2,2021-01-01 23:10:00,29295,29343,29295,29343,0.0025,NaN,NaN,1,NaN,0
3,2021-01-01 23:15:00,29344,29376,29344,29370,0.0033,NaN,NaN,1,NaN,0
4,2021-01-01 23:20:00,29370,29397,29346,29389,0.0027,NaN,NaN,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
310079,2024-01-01 23:35:00,43540,43573,43537,43573,0.0000,42801.223877,43369.237076,1,105.671527,0
310080,2024-01-01 23:40:00,43572,43572,43499,43499,0.0002,42817.318446,43369.237076,1,101.147023,0
310081,2024-01-01 23:45:00,43499,43544,43499,43510,0.0001,42833.379627,43369.237076,1,93.126020,0
310082,2024-01-01 23:50:00,43510,43510,43501,43505,0.0000,42849.090755,43369.237076,1,81.108017,0
310083,2024-01-01 23:55:00,43505,43572,43505,43563,0.0001,42865.704207,43369.237076,1,79.092586,0

In [18]:
df[df['total_signal']!=0].count()

Local time        1834
Open              1834
High              1834
Low               1834
Close             1834
Volume            1834
DEMA              1834
SUPERT_12_3.0     1834
SUPERTd_12_3.0    1834
ATR               1834
total_signal      1834
dtype: int64

In [19]:
def SIGNAL():
    return df.total_signal

In [20]:
from backtesting import Strategy
from backtesting import Backtest

class MyStrat(Strategy):
    slcoef = 1.1 #we will multipy this by ATR to get the stop loss
    TPSLRatio = 1.5
    
    def init(self):
        super().init()
        self.signal1 = self.I(SIGNAL)
        #df['RSI']=ta.rsi(df.Close, length=self.rsi_length)

    def next(self):
        super().next()
        slatr = self.slcoef*self.data.ATR[-1]
        sl = self.data['SUPERT_12_3.0'][-1]
        tp_distance = abs(self.data.Close[-1] - sl)
        TPSLRatio = self.TPSLRatio
        
        if self.signal1==2 and len(self.trades)==0:
            sl1 = sl
            tp1 = self.data.Close[-1] + slatr*TPSLRatio
            self.buy(sl=sl1, tp=tp1)
        
        elif self.signal1==1 and len(self.trades)==0:         
            sl1 = sl
            tp1 = self.data.Close[-1] - slatr*TPSLRatio
            self.sell(sl=sl1, tp=tp1)

bt = Backtest(df, MyStrat, cash = 100000)

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_18020\1641981765.py:30: UserWarning: Data index is not datetime. Assuming simple periods, but `pd.DateTimeIndex` is advised.
  bt = Backtest(df, MyStrat, cash = 100000)

In [21]:
bt.run()

Start                                     0.0
End                                  310083.0
Duration                             310083.0
Exposure Time [%]                    7.929787
Equity Final [$]                113798.217626
Equity Peak [$]                 141053.084807
Return [%]                          13.798218
Buy & Hold Return [%]               48.719787
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -26.154282
Avg. Drawdown [%]                   -1.240677
Max. Drawdown Duration               270362.0
Avg. Drawdown Duration            4112.657534
# Trades                               1773.0
Win Rate [%]                        67.907501
Best Trade [%]                       2.966457
Worst Trade [%]                     -5.763599
Avg. Trade [%]                       0.009325
Max. Trade Duration                     249.0
Avg. Trade Duration                 12.868584
Profit Factor                        1.049845
Expectancy [%]                       0.011426
SQN                                  0.494737
_strategy                             MyStrat
_equity_curve                            E...
_trades                         Size  Entr...
dtype: object